---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Create Nginx configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: '0644'
  notify: restart nginx
  when: nginx_install | default(false)

- name: Enable and start Nginx
  systemd:
    name: nginx
    state: started
    enabled: yes
  when: nginx_install | default(false)
