# Vagrant state
.vagrant/
*.log

# Ansible
*.retry
ansible/ssh_config
ansible/inventory/host_vars/*_secrets.yml

# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Secrets
**/passwords.txt
**/credentials.yml
**/secrets.yml
**/.vault_pass
*.pem
**/private_key

# OS cruft
.DS_Store
Thumbs.db
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
