# Vagrant
.vagrant/
*.log

# Ansible 
*.retry
ansible/inventory/host_vars/*_secrets.yml
ansible/ssh_config

# Python
__pycache__/
*.pyc
venv/
.env

# Secrets
**/passwords.txt
**/credentials.yml
**/secrets.yml
**/.vault_pass

# SSH keys
**/*.pem
**/private_key

# OS
cruft
.DS_Store Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
