---
# Common configuration applied to all VMs

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install essential packages
  apt:
    name:
      - curl
      - wget
      - vim
      - git
      - htop
      - net-tools
      - dnsutils
      - tcpdump
      - apt-transport-https
      - ca-certificates
      - gnupg
      - software-properties-common
    state: present

- name: Set timezone to UTC
  timezone:
    name: UTC

- name: Disable swap (Elasticsearch requirement)
  shell: swapoff -a
  when: "'elk_servers' in group_names"
  
- name: Remove swap from fstab
  lineinfile:
    path: /etc/fstab
    regexp: '^.*swap.*$'
    state: absent
  when: "'elk_servers' in group_names"

- name: Set vm.max_map_count for Elasticsearch
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: yes
  when: "'elk_servers' in group_names"
