---
- name: Configure all VMs with common settings
  hosts: all
  become: yes
  tags: common
  roles:
    - common

- name: Deploy ELK Stack on elk-server
  hosts: elk_servers
  become: yes
  roles:
    - role: elasticsearch
      tags: elasticsearch
    - role: kibana
      tags: kibana

- name: Deploy log sources on ubuntu-client
  hosts: clients
  become: yes
  roles:
    - nginx
    - filebeat
