---
- name: Configure all VMs with common settings
  hosts: all
  become: yes
  roles:
    - common

- name: Deploy ELK Stack on elk-server
  hosts: elk_servers
  become: yes
  roles:
    - elasticsearch
    - kibana

- name: Deploy log sources on ubuntu-client
  hosts: clients
  become: yes
  roles:
    - nginx
    - filebeat
