output {
  elasticsearch {
    hosts => ["http://{{ elk_server_ip }}:{{ elasticsearch_http_port }}"]
    user => "elastic"
    password => "{{ elasticsearch_password }}"
    index => "%%{[@metadata][beat]}-%%{[@metadata][version]}-%%{+YYYY.MM.dd}"
  }
}
